In [7]:
pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [9]:
df = pd.read_excel('002flight-price.xlsx')

In [10]:
df.head(3)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [17]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

Now we split the date of journey  because model not understand date. So, we split date  month, year, day wise.....

In [18]:
df['Date_of_Journey'].str.split('/').str[0]

0        24
1         1
2         9
3        12
4        01
         ..
10678     9
10679    27
10680    27
10681    01
10682     9
Name: Date_of_Journey, Length: 10683, dtype: object

In [19]:
#We create a new column  & after that we split them

df['Date'] = df['Date_of_Journey'].str.split('/').str[0]

In [20]:
df['Month'] = df['Date_of_Journey'].str.split('/').str[1]
df['Year'] = df['Date_of_Journey'].str.split('/').str[2]

In [21]:
df.head(3)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,05,2019
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,06,2019

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
 11  Date             10683 non-null  object
 12  Month            10683 non-null  object
 13  Year             10683 non-null  object
dtypes: int64(1), object(13)
memory usage: 1.1+ MB

In [25]:
# Now date month year  we convert on int
df['Date'] = df['Date'].astype(int)
df['Month'] = df['Month'].astype(int)
df['Year'] = df['Year'].astype(int)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
 11  Date             10683 non-null  int64
 12  Month            10683 non-null  int64
 13  Year             10683 non-null  int64
dtypes: int64(4), object(10)
memory usage: 1.1+ MB

In [29]:
# now, we drop datte of journey column
df.drop('Date_of_Journey', axis=1, inplace = True)

In [30]:
df.head(3)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6,2019

2nd....
   Now we do Arrival time  like date.....

In [ ]:
#We split atfirst using lambda  After that time split...   If we use lamda function that's time date month are removed
df['Arrival_Time'] = df['Arrival_Time'].apply(lambda x:x.split(' ')[0])

In [37]:
df['Arrival_hour'] = df['Arrival_Time'].str.split(':').str[0]
df['Arrival_min'] = df['Arrival_Time'].str.split(':').str[1]

In [38]:
df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897,24,3,2019,01,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019,13,15

In [40]:
df['Arrival_hour'] = df['Arrival_hour'].astype(int)
df['Arrival_min'] = df['Arrival_min'].astype(int)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Arrival_Time     10683 non-null  object
 6   Duration         10683 non-null  object
 7   Total_Stops      10682 non-null  object
 8   Additional_Info  10683 non-null  object
 9   Price            10683 non-null  int64
 10  Date             10683 non-null  int64
 11  Month            10683 non-null  int64
 12  Year             10683 non-null  int64
 13  Arrival_hour     10683 non-null  int64
 14  Arrival_min      10683 non-null  int64
dtypes: int64(6), object(9)
memory usage: 1.2+ MB

In [45]:
df.drop('Arrival_Time', axis=1, inplace=True)

In [46]:
df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897,24,3,2019,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,7h 25m,2 stops,No info,7662,1,5,2019,13,15

Now same thing on Dep_Time...

In [47]:
df['Departure_hour'] = df['Dep_Time'].str.split(':').str[0]
df['Departure_min'] = df['Dep_Time'].str.split(':').str[1]

In [48]:
df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Departure_hour,Departure_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,7h 25m,2 stops,No info,7662,1,5,2019,13,15,05,50

In [49]:
df['Departure_hour'] = df['Departure_hour'].astype(int)
df['Departure_min'] = df['Departure_min'].astype(int)

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Duration         10683 non-null  object
 6   Total_Stops      10682 non-null  object
 7   Additional_Info  10683 non-null  object
 8   Price            10683 non-null  int64
 9   Date             10683 non-null  int64
 10  Month            10683 non-null  int64
 11  Year             10683 non-null  int64
 12  Arrival_hour     10683 non-null  int64
 13  Arrival_min      10683 non-null  int64
 14  Departure_hour   10683 non-null  int64
 15  Departure_min    10683 non-null  int64
dtypes: int64(8), object(8)
memory usage: 1.3+ MB

In [52]:
df.drop('Dep_Time', axis=1, inplace=True)

In [53]:
df.head(3)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Departure_hour,Departure_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882,9,6,2019,4,25,9,25

Convert Catagorical fechaers to numerical fechars - Total_Stops...

In [54]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [56]:
# Handle missing value....
df[df['Total_Stops'].isnull()]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Departure_hour,Departure_min
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480,6,5,2019,9,25,9,45

In [61]:
df['Total_Stops'].isnull().sum()

np.int64(1)

In [62]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [63]:
#Convert catagorical to numerical....
df['Total_Stops'] = df['Total_Stops'].map({'non-stop':0, '2 stops':2, '1 stop':1, '3 stops':3, np.nan:1, '4 stops':4})

In [64]:
df.isnull().sum()

Airline            0
Source             0
Destination        0
Route              1
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
Date               0
Month              0
Year               0
Arrival_hour       0
Arrival_min        0
Departure_hour     0
Departure_min      0
dtype: int64

In [65]:
df.head(3)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Departure_hour,Departure_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0,No info,3897,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2,No info,7662,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2,No info,13882,9,6,2019,4,25,9,25

Now, i drop - Route column...

In [66]:
df.drop('Route', axis=1, inplace=True)

In [67]:
df.head(2)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Departure_hour,Departure_min
0,IndiGo,Banglore,New Delhi,2h 50m,0,No info,3897,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,7h 25m,2,No info,7662,1,5,2019,13,15,5,50

Now duration devide hours & minitue.....

In [76]:
df['Duration_hrs'] = df['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [102]:
count = df['Duration_hrs'].isnull().sum()
count

np.int64(0)

In [86]:
# Where NuN  replace '0' on int
df['Duration_min'] = df['Duration'].str.split(' ').str[1].str.split('m').str[0].fillna(0).astype(int)

In [89]:
df.drop('Duration', axis=1, inplace=True)

In [117]:
df['Duration_hrs']

0         2
1         7
2        19
3         5
4         4
         ..
10678     2
10679     2
10680     3
10681     2
10682     8
Name: Duration_hrs, Length: 10683, dtype: object

In [172]:
df['Duration_hrs'] = df['Duration_hrs'].astype('Int64')

In [115]:
df.head(31)

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Departure_hour,Departure_min,Duration_hrs,Duration_min
0,IndiGo,Banglore,New Delhi,0,No info,3897,24,3,2019,1,10,22,20,2,50
1,Air India,Kolkata,Banglore,2,No info,7662,1,5,2019,13,15,5,50,7,25
2,Jet Airways,Delhi,Cochin,2,No info,13882,9,6,2019,4,25,9,25,19,0
3,IndiGo,Kolkata,Banglore,1,No info,6218,12,5,2019,23,30,18,5,5,25
4,IndiGo,Banglore,New Delhi,1,No info,13302,1,3,2019,21,35,16,50,4,45
5,SpiceJet,Kolkata,Banglore,0,No info,3873,24,6,2019,11,25,9,0,2,25
6,Jet Airways,Banglore,New Delhi,1,In-flight meal not included,11087,12,3,2019,10,25,18,55,15,30
7,Jet Airways,Banglore,New Delhi,1,No info,22270,1,3,2019,5,5,8,0,21,5
8,Jet Airways,Banglore,New Delhi,1,In-flight meal not included,11087,12,3,2019,10,25,8,55,25,30
9,Multiple carriers,Delhi,Cochin,1,No info,8625,27,5,2019,19,15,11,25,7,50
10,Air India,Delhi,Cochin,1,No info,8907,1,6,2019,23,0,9,45,13,15
11,IndiGo,Kolkata,Banglore,0,No info,4174,18,4,2019,22,55,20,20,2,35
12,Air India,Chennai,Kolkata,0,No info,4667,24,6,2019,13,55,11,40,2,15
13,Jet Airways,Kolkata,Banglore,1,In-flight meal not included,9663,9,5,2019,9,20,21,10,12,10
14,IndiGo,Kolkata,Banglore,0,No info,4804,24,4,2019,19,50,17,15,2,35
15,Air India,Delhi,Cochin,2,No info,14011,3,3,2019,19,15,16,40,26,35
16,SpiceJet,Delhi,Cochin,1,No info,5830,15,4,2019,13,15,8,45,4,30
17,Jet Airways,Delhi,Cochin,1,In-flight meal not included,10262,12,6,2019,12,35,14,0,22,35
18,Air India,Delhi,Cochin,2,No info,13381,12,6,2019,19,15,20,15,23,0
19,Jet Airways,Delhi,Cochin,1,In-flight meal not included,12898,27,5,2019,12,35,16,0,20,35
20,GoAir,Delhi,Cochin,1,No info,19495,6,3,2019,19,20,14,10,5,10
21,Air India,Banglore,New Delhi,1,No info,6955,21,3,2019,13,20,22,0,15,20
22,IndiGo,Banglore,Delhi,0,No info,3943,3,4,2019,6,50,4,0,2,50
23,IndiGo,Banglore,Delhi,0,No info,4823,1,5,2019,21,50,18,55,2,55
24,Jet Airways,Kolkata,Banglore,1,In-flight meal not included,7757,6,5,2019,8,15,18,55,13,20
25,Jet Airways,Delhi,Cochin,2,No info,13292,9,6,2019,12,35,21,25,15,10
26,IndiGo,Delhi,Cochin,1,No info,8238,1,6,2019,3,35,21,50,5,45
27,GoAir,Delhi,Cochin,1,No info,7682,15,5,2019,12,55,7,0,5,55
28,Vistara,Banglore,Delhi,0,No info,4668,18,6,2019,12,35,9,45,2,50
29,Vistara,Chennai,Kolkata,0,No info,3687,15,6,2019,9,20,7,5,2,15
30,Vistara,Chennai,Kolkata,0,No info,3687,18,6,2019,9,20,7,5,2,15

Other catagorical columns are encode.....

Encode start....

In [121]:
df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [122]:
df['Source'].unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [131]:
df['Destination'].unique()

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
      dtype=object)

In [123]:
df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [130]:
df.head(3)

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Departure_hour,Departure_min,Duration_hrs,Duration_min
0,IndiGo,Banglore,New Delhi,0,No info,3897,24,3,2019,1,10,22,20,2,50
1,Air India,Kolkata,Banglore,2,No info,7662,1,5,2019,13,15,5,50,7,25
2,Jet Airways,Delhi,Cochin,2,No info,13882,9,6,2019,4,25,9,25,19,0

In [126]:
from sklearn.preprocessing import OneHotEncoder

encoder =  OneHotEncoder()
encoder.fit_transform(df[['Airline', 'Source', 'Destination']]).toarray()

array([[0., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 0.]])

In [138]:
encoded_df = pd.DataFrame(encoder.fit_transform(df[['Airline', 'Source', 'Destination']]).toarray(), columns = encoder.get_feature_names_out())
encoded_df

,Airline_Air Asia,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Trujet,...,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Banglore,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
10679,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
10680,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10681,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10682,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [139]:
encoded_df.index = df.index

In [140]:
df = df.drop(['Airline', 'Source', 'Destination'], axis=1)

In [141]:
df = pd.concat([df, encoded_df], axis=1)

In [142]:
df.head(3)

,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Departure_hour,Departure_min,...,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Banglore,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,0,No info,3897,24,3,2019,1,10,22,20,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2,No info,7662,1,5,2019,13,15,5,50,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,2,No info,13882,9,6,2019,4,25,9,25,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

Encode end....

In [144]:
# drop additional info

df.drop('Additional_Info', axis=1, inplace=True)

In [145]:
df.head(20)

,Total_Stops,Price,Date,Month,Year,Arrival_hour,Arrival_min,Departure_hour,Departure_min,Duration_hrs,...,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Banglore,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,0,3897,24,3,2019,1,10,22,20,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2,7662,1,5,2019,13,15,5,50,7,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,2,13882,9,6,2019,4,25,9,25,19,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,1,6218,12,5,2019,23,30,18,5,5,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,1,13302,1,3,2019,21,35,16,50,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,0,3873,24,6,2019,11,25,9,0,2,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
6,1,11087,12,3,2019,10,25,18,55,15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7,1,22270,1,3,2019,5,5,8,0,21,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8,1,11087,12,3,2019,10,25,8,55,25,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9,1,8625,27,5,2019,19,15,11,25,7,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
10,1,8907,1,6,2019,23,0,9,45,13,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
11,0,4174,18,4,2019,22,55,20,20,2,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
12,0,4667,24,6,2019,13,55,11,40,2,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
13,1,9663,9,5,2019,9,20,21,10,12,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
14,0,4804,24,4,2019,19,50,17,15,2,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
15,2,14011,3,3,2019,19,15,16,40,26,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
16,1,5830,15,4,2019,13,15,8,45,4,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
17,1,10262,12,6,2019,12,35,14,0,22,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
18,2,13381,12,6,2019,19,15,20,15,23,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
19,1,12898,27,5,2019,12,35,16,0,20,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [146]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 34 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Total_Stops                                10683 non-null  int64
 1   Price                                      10683 non-null  int64
 2   Date                                       10683 non-null  int64
 3   Month                                      10683 non-null  int64
 4   Year                                       10683 non-null  int64
 5   Arrival_hour                               10683 non-null  int64
 6   Arrival_min                                10683 non-null  int64
 7   Departure_hour                             10683 non-null  int64
 8   Departure_min                              10683 non-null  int64
 9   Duration_hrs                               10683 non-null  object
 10  Duration_min                               10683 non-null  int64
 11  Airline_Air Asia                           10683 non-null  float64
 12  Airline_Air India                          10683 non-null  float64
 13  Airline_GoAir                              10683 non-null  float64
 14  Airline_IndiGo                             10683 non-null  float64
 15  Airline_Jet Airways                        10683 non-null  float64
 16  Airline_Jet Airways Business               10683 non-null  float64
 17  Airline_Multiple carriers                  10683 non-null  float64
 18  Airline_Multiple carriers Premium economy  10683 non-null  float64
 19  Airline_SpiceJet                           10683 non-null  float64
 20  Airline_Trujet                             10683 non-null  float64
 21  Airline_Vistara                            10683 non-null  float64
 22  Airline_Vistara Premium economy            10683 non-null  float64
 23  Source_Banglore                            10683 non-null  float64
 24  Source_Chennai                             10683 non-null  float64
 25  Source_Delhi                               10683 non-null  float64
 26  Source_Kolkata                             10683 non-null  float64
 27  Source_Mumbai                              10683 non-null  float64
 28  Destination_Banglore                       10683 non-null  float64
 29  Destination_Cochin                         10683 non-null  float64
 30  Destination_Delhi                          10683 non-null  float64
 31  Destination_Hyderabad                      10683 non-null  float64
 32  Destination_Kolkata                        10683 non-null  float64
 33  Destination_New Delhi                      10683 non-null  float64
dtypes: float64(23), int64(10), object(1)
memory usage: 2.8+ MB

In [169]:
df['Duration_hrs'].astype('Int64')

0         2
1         7
2        19
3         5
4         4
         ..
10678     2
10679     2
10680     3
10681     2
10682     8
Name: Duration_hrs, Length: 10683, dtype: Int64

In [170]:
df['Duration_hrs']

0         2
1         7
2        19
3         5
4         4
         ..
10678     2
10679     2
10680     3
10681     2
10682     8
Name: Duration_hrs, Length: 10683, dtype: Int64

In [173]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 34 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Total_Stops                                10683 non-null  int64
 1   Price                                      10683 non-null  int64
 2   Date                                       10683 non-null  int64
 3   Month                                      10683 non-null  int64
 4   Year                                       10683 non-null  int64
 5   Arrival_hour                               10683 non-null  int64
 6   Arrival_min                                10683 non-null  int64
 7   Departure_hour                             10683 non-null  int64
 8   Departure_min                              10683 non-null  int64
 9   Duration_hrs                               10682 non-null  Int64
 10  Duration_min                               10683 non-null  int64
 11  Airline_Air Asia                           10683 non-null  float64
 12  Airline_Air India                          10683 non-null  float64
 13  Airline_GoAir                              10683 non-null  float64
 14  Airline_IndiGo                             10683 non-null  float64
 15  Airline_Jet Airways                        10683 non-null  float64
 16  Airline_Jet Airways Business               10683 non-null  float64
 17  Airline_Multiple carriers                  10683 non-null  float64
 18  Airline_Multiple carriers Premium economy  10683 non-null  float64
 19  Airline_SpiceJet                           10683 non-null  float64
 20  Airline_Trujet                             10683 non-null  float64
 21  Airline_Vistara                            10683 non-null  float64
 22  Airline_Vistara Premium economy            10683 non-null  float64
 23  Source_Banglore                            10683 non-null  float64
 24  Source_Chennai                             10683 non-null  float64
 25  Source_Delhi                               10683 non-null  float64
 26  Source_Kolkata                             10683 non-null  float64
 27  Source_Mumbai                              10683 non-null  float64
 28  Destination_Banglore                       10683 non-null  float64
 29  Destination_Cochin                         10683 non-null  float64
 30  Destination_Delhi                          10683 non-null  float64
 31  Destination_Hyderabad                      10683 non-null  float64
 32  Destination_Kolkata                        10683 non-null  float64
 33  Destination_New Delhi                      10683 non-null  float64
dtypes: Int64(1), float64(23), int64(10)
memory usage: 2.8 MB

All are mosttly correct....

In [174]:
df.isnull().sum()

Total_Stops                                  0
Price                                        0
Date                                         0
Month                                        0
Year                                         0
Arrival_hour                                 0
Arrival_min                                  0
Departure_hour                               0
Departure_min                                0
Duration_hrs                                 1
Duration_min                                 0
Airline_Air Asia                             0
Airline_Air India                            0
Airline_GoAir                                0
Airline_IndiGo                               0
Airline_Jet Airways                          0
Airline_Jet Airways Business                 0
Airline_Multiple carriers                    0
Airline_Multiple carriers Premium economy    0
Airline_SpiceJet                             0
Airline_Trujet                               0
Airline_Vistara                              0
Airline_Vistara Premium economy              0
Source_Banglore                              0
Source_Chennai                               0
Source_Delhi                                 0
Source_Kolkata                               0
Source_Mumbai                                0
Destination_Banglore                         0
Destination_Cochin                           0
Destination_Delhi                            0
Destination_Hyderabad                        0
Destination_Kolkata                          0
Destination_New Delhi                        0
dtype: int64

In [175]:
print(df.dtypes)

Total_Stops                                    int64
Price                                          int64
Date                                           int64
Month                                          int64
Year                                           int64
Arrival_hour                                   int64
Arrival_min                                    int64
Departure_hour                                 int64
Departure_min                                  int64
Duration_hrs                                   Int64
Duration_min                                   int64
Airline_Air Asia                             float64
Airline_Air India                            float64
Airline_GoAir                                float64
Airline_IndiGo                               float64
Airline_Jet Airways                          float64
Airline_Jet Airways Business                 float64
Airline_Multiple carriers                    float64
Airline_Multiple carriers Premium economy    float64
Airline_SpiceJet                             float64
Airline_Trujet                               float64
Airline_Vistara                              float64
Airline_Vistara Premium economy              float64
Source_Banglore                              float64
Source_Chennai                               float64
Source_Delhi                                 float64
Source_Kolkata                               float64
Source_Mumbai                                float64
Destination_Banglore                         float64
Destination_Cochin                           float64
Destination_Delhi                            float64
Destination_Hyderabad                        float64
Destination_Kolkata                          float64
Destination_New Delhi                        float64
dtype: object

In [176]:
df.head(1)

,Total_Stops,Price,Date,Month,Year,Arrival_hour,Arrival_min,Departure_hour,Departure_min,Duration_hrs,...,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Banglore,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,0,3897,24,3,2019,1,10,22,20,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

TrainTest split....

In [177]:
from sklearn.model_selection import train_test_split

X = df.drop('Price', axis=1)  
y = df['Price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [182]:
from sklearn.ensemble import RandomForestClassifier  

model = RandomForestClassifier()
model.fit(X_train, y_train)

RandomForestClassifier()

In [183]:
from sklearn.metrics import accuracy_score, classification_report

y_pred = model.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

Accuracy: 0.3359850257370145
              precision    recall  f1-score   support

        1965       0.08      0.20      0.12         5
        2017       0.20      0.08      0.12        12
        2050       0.00      0.00      0.00         0
        2071       0.00      0.00      0.00         1
        2175       0.00      0.00      0.00         1
        2227       1.00      0.70      0.82        10
        2228       0.00      0.00      0.00         4
        2385       0.00      0.00      0.00         2
        2437       0.00      0.00      0.00         1
        2575       1.00      1.00      1.00         1
        2647       0.00      0.00      0.00         2
        2753       0.00      0.00      0.00         0
        2754       0.71      0.83      0.77        12
        2759       0.00      0.00      0.00         2
        3100       0.80      0.89      0.84         9
        3173       0.00      0.00      0.00         1
        3175       0.60      1.00      0.75         3
        3205       0.00      0.00      0.00         0
        3210       0.00      0.00      0.00         3
        3257       0.00      0.00      0.00         2
        3311       0.00      0.00      0.00         1
        3332       0.00      0.00      0.00         1
        3342       0.00      0.00      0.00         2
        3359       0.00      0.00      0.00         0
        3383       0.44      0.57      0.50         7
        3384       0.00      0.00      0.00         1
        3398       0.00      0.00      0.00         0
        3419       0.50      0.33      0.40        12
        3480       0.00      0.00      0.00         1
        3527       0.00      0.00      0.00         0
        3540       0.80      1.00      0.89         4
        3543       0.33      0.25      0.29         8
        3573       0.00      0.00      0.00         1
        3574       0.00      0.00      0.00         1
        3597       0.53      0.62      0.57        13
        3603       0.00      0.00      0.00         0
        3625       0.00      0.00      0.00         2
        3670       0.00      0.00      0.00         0
        3687       1.00      1.00      1.00         4
        3702       0.00      0.00      0.00         0
        3717       0.00      0.00      0.00         1
        3807       0.60      0.50      0.55         6
        3809       0.50      1.00      0.67         1
        3815       0.00      0.00      0.00         1
        3838       0.00      0.00      0.00         1
        3841       0.24      0.18      0.21        22
        3847       0.50      0.33      0.40         3
        3849       0.00      0.00      0.00         0
        3850       1.00      0.67      0.80         6
        3858       0.83      0.83      0.83         6
        3859       0.00      0.00      0.00         1
        3873       0.24      0.25      0.24        16
        3876       0.00      0.00      0.00         0
        3897       0.00      0.00      0.00         1
        3898       0.50      0.25      0.33         4
        3919       0.00      0.00      0.00        10
        3925       0.00      0.00      0.00         1
        3943       0.58      0.44      0.50        16
        3948       0.00      0.00      0.00         1
        3971       0.00      0.00      0.00         2
        4030       0.00      0.00      0.00         7
        4049       1.00      0.67      0.80        12
        4050       0.00      0.00      0.00         6
        4077       0.00      0.00      0.00         4
        4082       0.00      0.00      0.00         0
        4098       0.00      0.00      0.00         0
        4106       0.00      0.00      0.00         1
        4107       0.00      0.00      0.00         1
        4129       0.00      0.00      0.00         1
        4145       0.00      0.00      0.00         1
        4148       0.67      0.50      0.57         8
        4160       0.00      0.00      0.00         0
        4174       0.33      0.60      0.43         5
        4201       0.00      0.00      0.00         1
        4205       0.00      0.00      0.00         0
        4226       0.67      1.00      0.80         2
        4227       0.00      0.00      0.00         2
        4238       0.00      0.00      0.00         0
        4239       0.67      0.67      0.67         3
        4259       0.00      0.00      0.00         0
        4273       0.00      0.00      0.00         1
        4282       0.86      1.00      0.92         6
        4284       0.00      0.00      0.00         0
        4307       0.00      0.00      0.00         0
        4319       0.00      0.00      0.00         3
        4326       1.00      1.00      1.00         1
        4332       1.00      0.50      0.67         2
        4340       0.00      0.00      0.00         2
        4377       0.00      0.00      0.00         1
        4384       0.50      1.00      0.67         1
        4391       0.00      0.00      0.00         0
        4405       0.00      0.00      0.00         1
        4409       0.44      0.67      0.53         6
        4413       0.00      0.00      0.00         2
        4423       0.25      0.43      0.32         7
        4435       1.00      1.00      1.00         2
        4437       0.00      0.00      0.00         1
        4439       0.00      0.00      0.00         0
        4441       0.67      0.50      0.57         4
        4460       1.00      1.00      1.00         1
        4462       0.33      0.25      0.29         4
        4465       0.00      0.00      0.00         1
        4483       0.00      0.00      0.00         5
        4487       1.00      1.00      1.00         1
        4488       0.00      0.00      0.00         0
        4491       0.00      0.00      0.00         1
        4508       0.00      0.00      0.00         1
        4525       0.00      0.00      0.00         1
        4544       0.08      0.50      0.13         2
        4545       0.00      0.00      0.00         0
        4563       0.00      0.00      0.00         1
        4565       0.00      0.00      0.00         1
        4575       0.00      0.00      0.00         1
        4591       0.38      0.60      0.46         5
        4622       0.00      0.00      0.00         1
        4632       0.33      1.00      0.50         1
        4647       0.00      0.00      0.00         1
        4649       0.75      1.00      0.86         3
        4651       0.00      0.00      0.00         0
        4667       1.00      1.00      1.00         3
        4668       0.89      0.67      0.76        12
        4692       0.00      0.00      0.00         2
        4697       0.00      0.00      0.00         1
        4729       0.00      0.00      0.00         3
        4744       0.00      0.00      0.00         1
        4757       0.00      0.00      0.00         1
        4760       0.00      0.00      0.00         2
        4775       0.00      0.00      0.00         0
        4777       1.00      0.25      0.40         4
        4778       0.00      0.00      0.00         2
        4784       0.00      0.00      0.00         0
        4804       0.91      0.97      0.94        30
        4812       0.00      0.00      0.00         3
        4823       0.95      0.87      0.91        23
        4878       0.83      0.71      0.77         7
        4880       0.00      0.00      0.00         0
        4885       0.00      0.00      0.00         2
        4886       0.00      0.00      0.00         2
        4937       0.00      0.00      0.00         1
        4939       0.00      0.00      0.00         1
        4943       0.00      0.00      0.00         0
        4957       0.00      0.00      0.00         4
        4959       0.50      0.50      0.50         2
        4963       0.00      0.00      0.00         1
        4966       0.00      0.00      0.00         0
        4990       0.33      1.00      0.50         1
        4991       0.00      0.00      0.00         0
        4995       0.00      0.00      0.00         9
        5000       0.33      1.00      0.50         1
        5013       0.00      0.00      0.00         0
        5021       0.50      1.00      0.67         1
        5022       0.00      0.00      0.00         0
        5054       1.00      0.67      0.80         3
        5069       1.00      1.00      1.00         3
        5073       0.50      0.67      0.57         3
        5088       0.00      0.00      0.00         2
        5092       1.00      1.00      1.00         1
        5117       0.00      0.00      0.00         2
        5126       0.00      0.00      0.00         2
        5140       0.00      0.00      0.00         0
        5158       0.00      0.00      0.00         1
        5162       0.50      0.50      0.50         2
        5164       0.00      0.00      0.00         0
        5170       1.00      1.00      1.00         1
        5171       0.00      0.00      0.00         1
        5176       0.00      0.00      0.00         2
        5177       1.00      0.60      0.75         5
        5192       0.78      1.00      0.88         7
        5195       0.00      0.00      0.00         1
        5198       0.00      0.00      0.00         4
        5201       0.67      0.50      0.57         4
        5216       0.00      0.00      0.00         0
        5221       0.00      0.00      0.00         0
        5224       0.75      0.43      0.55         7
        5228       0.50      0.50      0.50         6
        5232       0.00      0.00      0.00         1
        5276       0.00      0.00      0.00         1
        5277       0.75      1.00      0.86         3
        5281       0.00      0.00      0.00         0
        5298       0.67      0.67      0.67         3
        5320       0.00      0.00      0.00         2
        5351       0.00      0.00      0.00         0
        5380       0.00      0.00      0.00         0
        5403       0.67      1.00      0.80         6
        5406       0.50      0.50      0.50         4
        5409       0.00      0.00      0.00         0
        5411       0.00      0.00      0.00         0
        5438       0.00      0.00      0.00         2
        5443       0.00      0.00      0.00         1
        5457       0.00      0.00      0.00         1
        5458       0.00      0.00      0.00         0
        5510       0.50      0.50      0.50         2
        5515       0.50      0.33      0.40         3
        5521       0.00      0.00      0.00         1
        5530       0.00      0.00      0.00         1
        5583       0.00      0.00      0.00         1
        5586       0.00      0.00      0.00         0
        5601       0.00      0.00      0.00         1
        5608       0.00      0.00      0.00         1
        5613       0.29      0.50      0.36         4
        5618       0.00      0.00      0.00         1
        5620       0.00      0.00      0.00         2
        5621       0.00      0.00      0.00         1
        5626       0.00      0.00      0.00         2
        5628       0.00      0.00      0.00         1
        5636       1.00      1.00      1.00         2
        5644       0.00      0.00      0.00         4
        5645       0.00      0.00      0.00         0
        5678       0.15      0.33      0.21         9
        5684       0.00      0.00      0.00         0
        5694       1.00      0.33      0.50         3
        5704       0.00      0.00      0.00         1
        5725       0.00      0.00      0.00         1
        5726       0.00      0.00      0.00         0
        5734       0.00      0.00      0.00         0
        5740       0.00      0.00      0.00         1
        5746       1.00      1.00      1.00         1
        5755       0.00      0.00      0.00         1
        5761       0.00      0.00      0.00         0
        5769       0.00      0.00      0.00         7
        5775       1.00      0.50      0.67         2
        5780       0.00      0.00      0.00         0
        5797       0.00      0.00      0.00         1
        5830       0.00      0.00      0.00         1
        5831       0.00      0.00      0.00         1
        5842       0.00      0.00      0.00         0
        5883       1.00      0.50      0.67         4
        5894       1.00      1.00      1.00         2
        5895       0.00      0.00      0.00         1
        5911       0.00      0.00      0.00         1
        5912       0.50      1.00      0.67         1
        5935       0.00      0.00      0.00         1
        5957       0.00      0.00      0.00         1
        5963       0.00      0.00      0.00         2
        5969       0.00      0.00      0.00         1
        5975       0.00      0.00      0.00         1
        5989       0.00      0.00      0.00         2
        5998       1.00      1.00      1.00         1
        6015       0.25      0.25      0.25         4
        6017       0.00      0.00      0.00         2
        6027       0.00      0.00      0.00         2
        6038       0.00      0.00      0.00         0
        6046       0.00      0.00      0.00         1
        6058       0.00      0.00      0.00         1
        6064       0.00      0.00      0.00         0
        6065       0.00      0.00      0.00         2
        6069       1.00      1.00      1.00         1
        6076       0.00      0.00      0.00         1
        6092       0.00      0.00      0.00         1
        6093       0.60      0.50      0.55         6
        6094       0.33      0.25      0.29         4
        6104       0.50      1.00      0.67         1
        6106       0.00      0.00      0.00         1
        6112       0.00      0.00      0.00         0
        6116       0.00      0.00      0.00         1
        6117       0.60      1.00      0.75         6
        6121       0.50      0.67      0.57         6
        6128       0.00      0.00      0.00         1
        6138       0.00      0.00      0.00         1
        6144       0.00      0.00      0.00         4
        6147       0.50      0.33      0.40         3
        6152       0.00      0.00      0.00         1
        6171       0.50      1.00      0.67         2
        6195       0.00      0.00      0.00         0
        6197       0.00      0.00      0.00         1
        6205       0.00      0.00      0.00         1
        6206       0.00      0.00      0.00         1
        6216       0.60      1.00      0.75         3
        6218       1.00      0.50      0.67         2
        6220       0.00      0.00      0.00         0
        6223       1.00      1.00      1.00         1
        6224       0.00      0.00      0.00         1
        6232       0.00      0.00      0.00         0
        6245       0.50      1.00      0.67         1
        6251       0.00      0.00      0.00         0
        6253       0.00      0.00      0.00         1
        6270       0.00      0.00      0.00         0
        6273       0.00      0.00      0.00         1
        6287       0.00      0.00      0.00         2
        6296       0.00      0.00      0.00         0
        6297       0.67      0.67      0.67         6
        6300       1.00      0.67      0.80         3
        6305       0.00      0.00      0.00         2
        6307       0.00      0.00      0.00         0
        6309       0.00      0.00      0.00         1
        6314       0.00      0.00      0.00         1
        6316       0.00      0.00      0.00         1
        6327       0.00      0.00      0.00         1
        6351       0.00      0.00      0.00         1
        6356       0.00      0.00      0.00         0
        6358       0.00      0.00      0.00         0
        6393       0.00      0.00      0.00         1
        6416       1.00      0.50      0.67         2
        6442       0.75      0.55      0.63        11
        6451       0.00      0.00      0.00         1
        6478       0.00      0.00      0.00         4
        6484       0.00      0.00      0.00         0
        6493       0.00      0.00      0.00         2
        6496       1.00      1.00      1.00         1
        6513       1.00      1.00      1.00         1
        6528       0.75      1.00      0.86         3
        6540       0.00      0.00      0.00         2
        6541       0.00      0.00      0.00         1
        6542       0.50      1.00      0.67         1
        6558       0.00      0.00      0.00         0
        6565       0.50      0.50      0.50         4
        6587       1.00      1.00      1.00         2
        6591       0.00      0.00      0.00         2
        6600       0.00      0.00      0.00         1
        6601       0.00      0.00      0.00         0
        6610       0.00      0.00      0.00         0
        6628       0.17      0.50      0.25         2
        6630       0.00      0.00      0.00         0
        6643       0.00      0.00      0.00         1
        6653       0.00      0.00      0.00         1
        6673       0.00      0.00      0.00         0
        6674       0.00      0.00      0.00         2
        6681       0.00      0.00      0.00         1
        6688       0.00      0.00      0.00         1
        6692       0.00      0.00      0.00         1
        6704       0.00      0.00      0.00         0
        6717       0.00      0.00      0.00         0
        6723       0.00      0.00      0.00         0
        6732       0.00      0.00      0.00         1
        6734       0.00      0.00      0.00         1
        6741       0.00      0.00      0.00         3
        6752       0.50      0.50      0.50         2
        6758       0.00      0.00      0.00         0
        6762       0.00      0.00      0.00         0
        6778       0.00      0.00      0.00         0
        6781       0.00      0.00      0.00         0
        6790       0.00      0.00      0.00         1
        6794       0.00      0.00      0.00         0
        6795       0.80      0.80      0.80         5
        6800       0.00      0.00      0.00         0
        6810       0.00      0.00      0.00         1
        6812       0.00      0.00      0.00         0
        6818       0.50      0.33      0.40         3
        6827       0.00      0.00      0.00         1
        6838       1.00      0.25      0.40         4
        6841       0.00      0.00      0.00         1
        6857       0.00      0.00      0.00         1
        6860       0.50      0.50      0.50         2
        6881       0.00      0.00      0.00         0
        6883       1.00      1.00      1.00         1
        6893       0.00      0.00      0.00         0
        6896       0.00      0.00      0.00         1
        6901       0.00      0.00      0.00         1
        6902       0.00      0.00      0.00         0
        6934       0.50      0.67      0.57         3
        6937       0.00      0.00      0.00         1
        6938       0.00      0.00      0.00         2
        6943       0.00      0.00      0.00         0
        6955       1.00      1.00      1.00         1
        6959       0.00      0.00      0.00         1
        6961       0.86      0.75      0.80         8
        6968       0.00      0.00      0.00         1
        6979       0.40      0.67      0.50         3
        6991       0.00      0.00      0.00         1
        7005       0.75      0.60      0.67         5
        7006       0.00      0.00      0.00         1
        7038       0.33      1.00      0.50         1
        7048       0.00      0.00      0.00         2
        7050       0.00      0.00      0.00         0
        7060       0.00      0.00      0.00         1
        7064       0.38      0.33      0.35         9
        7080       0.00      0.00      0.00         1
        7081       0.00      0.00      0.00         1

C:\Users\arpan\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1706: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])
C:\Users\arpan\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1706: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])
C:\Users\arpan\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1706: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])
C:\Users\arpan\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1706: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])
C:\Users\arpan\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1706: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])
C:\Users\arpan\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1706: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])

Test....

In [184]:
sample_input = {
    'Duration_hrs': 5,
    'Airline_Air India': 0,
    'Airline_IndiGo': 1,
    'Source_Delhi': 1,
    'Destination_Mumbai': 1,
}

In [188]:
expected_columns = X_train.columns.tolist()

In [ ]:
import pandas as pd

def build_input(sample_dict, expected_columns):
    input_df = pd.DataFrame([0] * len(expected_columns), index=expected_columns).T

    for key, value in sample_dict.items():
        if key in input_df.columns:
            input_df.at[0, key] = value

    return input_df

In [ ]:
sample_input = {
    'Duration_hrs': 5,
    'Airline_IndiGo': 1,
    'Source_Delhi': 1,
    'Destination_Mumbai': 1,
}

input_df = build_input(sample_input, expected_columns)
prediction = model.predict(input_df)
print("Prediction:", prediction[0])

Prediction: 5021